<ActionBar [title]="room.name">
    <NavigationButton text="Back"
    ></NavigationButton>
</ActionBar>

<ScrollView>
    <StackLayout>
        <StackLayout *ngFor="let message of messages; let index=index; let odd=odd; let even=even;"
                     orientation="horizontal"
                     [class.odd]="odd" [class.even]="even">
            <Image [src]="users[message.authorId].image" class="chatpic"></Image>
            <StackLayout>
                <Label [text]="message.body" textWrap="true"
                       minHeight="50" fontSize="20" margin="3"></Label>
                <Label [text]="users[message.authorId].name" fontSize="14" horizontalAlignment="left"
                       verticalAlignment="bottom"
                       margin="3"></Label>
            </StackLayout>
        </StackLayout>

        <StackLayout padding="10">
            <TextField
                    #messageInput
                    [(ngModel)]="newMessage"
                    hint="Enter your message"
                    returnKeyType="send"
                    (returnPress)="addMessage()"
            ></TextField>
        </StackLayout>
    </StackLayout>
</ScrollView>


